

  <!-- <div class="container">
    <div class="row">
      <div class="col">
        Column
      </div>
      <div class="col">
        Column
      </div>
      <div class="col">
        Column
      </div>
    </div>
  </div> -->

<!-- <div class="container">
  <div class="row">
<div class="col">
    <div class="col-lg-4 control-section">
        <div class="sample_container">
            <!-- Card Component -->
            <div class="e-card e-custom-card ">
                <div class="e-card-header">
                    <!-- xLarge Circle Avatar-->
                    <!-- <div class="e-avatar e-avatar-circle e-avatar-xlarge">
                        <img src="./assets/avatar/images/pic02.png" alt="profile_pic">
                    </div>
                    &nbsp; -->
                </div>
                <div class="e-card-header">
                    <div class="e-card-header-caption center">
                        <div class="e-card-header-title name"></div>
                        <div class="e-card-sub-title"></div>
                    </div>
                </div>
                <div class="e-card-content">
                    <p class="avatar-content"> </p>
                </div>
            </div>
        <!-- </div> -->
        <div class="col-lg-4 control-section">
          <div class="sample_container">
              <!-- Card Component -->
              <div class="e-card e-custom-card ">
                  <div class="e-card-header">
                      <!-- xLarge Circle Avatar-->
                      <!-- <div class="e-avatar e-avatar-circle e-avatar-xlarge">
                          <img src="./assets/avatar/images/pic02.png" alt="profile_pic">
                      </div>
                      &nbsp; -->
                  </div>
                  <div class="e-card-header">
                      <div class="e-card-header-caption center">
                          <div class="e-card-header-title name"></div>
                          <div class="e-card-sub-title"></div>
                      </div>
                  </div>
                  <div class="e-card-content">
                      <p class="avatar-content"> </p>
                  </div>
              </div>
          </div>


              <!-- xLarge Circle Avatar-->
              <!-- <div class="e-avatar e-avatar-circle e-avatar-xlarge">
                  <img src="./assets/avatar/images/pic02.png" alt="profile_pic">
              </div>
              &nbsp; -->



    </div>
    <!-- </div> --> 







            <!-- xLarge Circle Avatar-->
            <!-- <div class="e-avatar e-avatar-circle e-avatar-xlarge">
                <img src="./assets/avatar/images/pic02.png" alt="profile_pic">
            </div>
            &nbsp; -->










  <!-- <div class="row mt-5 chartBox">
    <canvas id="pie_chart"></canvas>
  <!-- </div> --> -->

