<h1 mat-dialog-title>Faire une demande d'absence</h1>
<form mat-dialog-content [formGroup]="form">
  <div class="d-flex example-container-flex">
    <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date" />
        <input matEndDate formControlName="end" placeholder="End date" />
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <mat-error *ngIf="form.controls['start'].hasError('matStartDateInvalid')"
        >Invalid start date</mat-error
      >
      <mat-error *ngIf="form.controls['end'].hasError('matEndDateInvalid')"
        >Invalid end date</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Motif</mat-label>
      <input matInput formControlName="objectRequest" placeholder="Motif" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Message</mat-label>
      <textarea
        matInput
        placeholder="Entrez votre message"
        formControlName="message"
      ></textarea>
    </mat-form-field>
  </div>
</form>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button (click)="onSubmit()">Envoyer</button>
</div>
