<!-- <div class="container">
  <div class="row mt-5">
    <div class="d-flex">
      <mat-card-title>Pointage</mat-card-title>
      <div class="ms-auto">
        <!-- <button color="primary" mat-raised-button (click)="openDialog()">
          Valider l'appel
        </button> -->
      <!-- </div>
    </div>
  </div> -->

  <div class="row mt-2">
    <mat-card>
      <mat-card-content>
        <form class="example-container" [formGroup]="callForm">
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Début</mat-label>
              <mat-select formControlName="start">
                <mat-option
                  [disabled]="!canCall"
                  *ngFor="let hour of hours"
                  [value]="hour.value"
                >
                  {{ hour.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Fin</mat-label>
              <mat-select formControlName="end">
                <mat-option
                  [disabled]="!canCall"
                  *ngFor="let hour of hours"
                  [value]="hour.value"
                >
                  {{ hour.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Matiére</mat-label>
              <mat-select formControlName="matterId">
                <mat-option
                  [disabled]="!canCall"
                  *ngFor="let matter of matters"
                  [value]="matter.id"
                >
                  {{ matter.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Promotion</mat-label>
              <mat-select formControlName="promotionId">
                <!-- <mat-option
                  [disabled]="!canCall" -->
                  <!-- *ngFor="let promotion of promotions" -->
                  [value]="promotion.id"
                >
                  <!-- {{ promotion.name }}
                </mat-option> -->
              </mat-select>
            </mat-form-field>
            <div class="mt-4">
              <button
                mat-raised-button
                color="primary"
                [disabled]="!callForm.valid || !canCall"
                (click)="doCall()"
              >
                Faire l'appel
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="row mt-5">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="isPresent">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="checkAll()"
            [checked]="verifyAllchecked()"
            [indeterminate]="true"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="markPresent(row)"
            [checked]="row.isPresent"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>Prénom</th>
        <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="(true)"
      ></tr>
    </table>
    <div class="mt-3">
      <button color="accent" (click)="goBack()" mat-button>Annuler</button>
      <button
        mat-raised-button
        color="primary"
        (click)="onSubmitCall()"
        [disabled]="canCall"
        class="btn-valid"
      >
        Valider
      </button>
    </div>
  </div>
<!-- </div> --> -->
